* {
  box-sizing: border-box;
}

.header_list ul {
  display: flex;
}

.header_list li {
  padding-left: 30px;
  font-size: 20px;
}

.header_logo {
  font-size: 40px;
  font-weight: bold;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}